{#
/**
 * @file oak.html.twig
 * Default theme implementation to present Oak data.
 *
 * This template is used when viewing Oak pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oak()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oak') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
