{#
/**
 * @file yeast.html.twig
 * Default theme implementation to present Yeast data.
 *
 * This template is used when viewing Yeast pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_yeast()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('yeast') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
